* {
  --text: #ebebf3;
  --background: #0e0e17;
  --background2: #151522;
  --primary: #a3a3c7;
  --secondary: #6e434e;
  --accent: #ad8a79;
  --save: #006fed;
  --reset: red;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: larger;
  font-weight: bolder;
  position: fixed;
  top: 0;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 3rem;
  padding-top: 50px;
}

.gameContainer {
  width: 400px;
  height: 500px;
  background-color: var(--background2);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 5px 3px var(--background2);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.gameContainer .disabled {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.821);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.821);
}

.gameContainer h2 {
  width: 100%;
  text-align: center;
  color: var(--text);
  position: fixed;
  top: 110px;
}

.gameContainer label {
  color: var(--text);
  font-size: larger;
  text-align: left;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gameContainer label:nth-of-type(1) {
  margin-top: 130px;
}

.gameContainer input {
  width: 80%;
}

.gameContainer span {
  color: var(--accent);
  font-weight: bolder;
  font-size: larger;
}

.gameContainer .btnBox {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gameContainer .btnBox button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
  font-weight: bolder;
  font-size: larger;
}

.gameContainer .btnBox button:nth-of-type(1) {
  color: var(--save);
  outline: 2px solid var(--save);
}

.gameContainer .btnBox button:nth-of-type(2) {
  color: var(--reset);
  outline: 2px solid var(--reset);
}

.gameContainer .btnBox button:nth-of-type(1):hover {
  background-color: var(--save);
  color: white;
  transform: scale(1.1);
}

.gameContainer .btnBox button:nth-of-type(2):hover {
  background-color: var(--reset);
  color: white;
  transform: scale(1.1);
}
